[Desktop Entry]
Encoding=UTF-8
Version=0.9.2
Name=Qt3 Configuration
Type=Application
Comment=
Exec=qtconfig-qt3
Path=
Icon=qtconfig-qt3.png
Categories=Application;Settings;DesktopSettings;Qt;
